.sectionBtn {
    margin: auto 0px;
}

.btn {
    height: 40px;
    width: 100px;
    margin-right: 10px;
    border-style: none;
    font-size: medium;
    color: darkblue;


    background-color: rgb(32, 170, 67);
    border: 1px solid rgb(45, 90, 2);
    border-radius: 5px;

}